.producto-card {
    border-radius: 12px;
    transition: 0.3s;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.producto-card:hover {
    transform: translateY(-5px);
}

/* HEADER */
.producto-header {
    font-size: 14px;
    color: #6c757d;
    padding: 10px 15px;
}

/* AVATAR */
.producto-avatar {
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #0d6efd, #dc3545);
    border-radius: 50%;
    margin: auto;
}
.producto-avatar-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* PRECIO */
.precio {
    color: #000;
    font-weight: bold;
}

/* DETALLE */
.detalle {
    font-size: 13px;
    color: #6c757d;
}

/* FOOTER */
.producto-footer {
    padding: 10px;
    border-top: 1px solid #eee;
}

/* BOTONES */
.producto-footer .btn {
    margin: 3px;
    border-radius: 6px;
}

/* EFECTO MENSAJES */
.fade-custom {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.fade-custom.show {
    opacity: 1;
    transform: translateY(0);
}

.fade-custom.hide {
    opacity: 0;
    transform: translateY(-20px);
}
/* FILAS DASHBOARD */

.fila-vencido {
    background-color: #f8d7da !important; /* rojo suave */
}

.fila-proximo {
    background-color: #fff3cd !important; /* amarillo suave */
}

.fila-sinstock {
    background-color: #e2e3e5 !important; /* gris suave */
}

.filtro-alerta {
    cursor: pointer;
}
.thead-suave {
    background-color: #d1ecf1; /* azul suave */
    color: #0c5460;
}