.fade-custom {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
}

.fade-custom.show {
    opacity: 1;
    transform: translateY(0);
}

.fade-custom.hide {
    opacity: 0;
    transform: translateY(-20px);
}